#**1. Python Lists**

In [21]:
# Creating two types of lists to height of one family

# Simple list 

fam = ["liz", 1.73, "emma", 1.68, "mom", 1.71, "dad", 1.89]

# printing

fam

['liz', 1.73, 'emma', 1.68, 'mom', 1.71, 'dad', 1.89]

In [7]:
# Sublists

fam2 = [["liz", 1.73],
       ["emma", 1.68],
       ["mom", 1.71],
       ["dad", 1.89]]
       
# printing

fam2

[['liz', 1.73], ['emma', 1.68], ['mom', 1.71], ['dad', 1.89]]

**1 - Exercise - Simple lists**

**Creating Lists**

In [3]:
# Create a list, areas, that contains the area of the hallway (hall), kitchen (kit), living room (liv), bedroom (bed) and bathroom (bath), in this order. Use the predefined variables.

# 1 - area variables (in square meters)

hall = 11.25
kit = 18.0
liv = 20.0
bed = 10.75
bath = 9.50

# 2 - Creating list areas

areas = [hall, kit, liv, bed, bath]

# 3 - Printing areas

print(areas)

[11.25, 18.0, 20.0, 10.75, 9.5]

#**2. Creating lists with different types**

In [4]:
# Building a list that contains the name of each room as a string and then its area. 

# area variables (in square meters)
hall = 11.25
kit = 18.0
liv = 20.0
bed = 10.75
bath = 9.50

# Adapt list areas

areas = ["hallway", hall, "kitchen", kit, "living room", liv, "bedroom", bed, "bathroom", bath]

# Print areas

print(areas)

['hallway', 11.25, 'kitchen', 18.0, 'living room', 20.0, 'bedroom', 10.75, 'bathroom', 9.5]

**2. Exercise - List of different types / List of lists**

As a data scientist, you'll often be dealing with a lot of data, and it will make sense to group some of this data.

Instead of creating a flat list containing strings and floats, representing the names and areas of the rooms in your house, you can create a list of lists. The script on the right can already give you an idea.

Don't get confused here: "hallway" is a string, while hall is a variable that represents the float 11.25 you specified earlier

In [6]:
# Finish the list of lists so that it also contains the bedroom and bathroom data. Make sure you enter these in order

house = [["hallway", hall],
         ["kitchen", kit],
         ["living room", liv]]

# Finishing the list the house information as list of lists

house = [["hallway", hall],
         ["kitchen", kit],
         ["living room", liv],
         ["bedroom", bed],
         ["bathroom", bath]]

# Print out house

print(house)

# Print out the type of house

print(type(house))

[['hallway', 11.25], ['kitchen', 18.0], ['living room', 20.0], ['bedroom', 10.75], ['bathroom', 9.5]]
<class 'list'>

# **3. Subsetting Lists / Index**

The Index starts in Zero (0) = zero index.
Negative Index = brings the elements of the end of the list

In [19]:
# Using List Family to index

fam[6]

'dad'

In [18]:
# Negative index

fam[-1]

1.89

#**4. List Slicing**

List Slicing = **select multiple elements from a list**, specifing a range (intervalo) using a colon (:)

syntax is ... [start : end] 

**name of the list [start : end]**

*   **start** = element/index *included* in the range
*   **end** = element/index *not included* in the range
*   **Colon (:)** = to define the range

In [25]:
# List Slicing to select multiple elements from a list

# Using fam

fam[1:4]

[1.73, 'emma', 1.68]

**Leaving out the start index**

Means that is going to slice from index 0

name of the list [:8]

**Leaving the index where the slice should end**

Is telling to Include all the elements up to and including tha last element in the list

name of the list [2:]

In [27]:
# Start from Index zero (0) and stoping in the index 4

fam[:4]

['liz', 1.73, 'emma', 1.68]

In [28]:
# Starting in one determined element of the list and leaving out the index where the slice should end = included all the elements including the last element

fam[:5]

['liz', 1.73, 'emma', 1.68, 'mom']

**4.1. Exercise - List Slicing / Subset and conquer**

In [29]:
# Create the areas list
areas = ["hallway", 11.25, "kitchen", 18.0, "living room", 20.0, "bedroom", 10.75, "bathroom", 9.50]

In [34]:
# Print out second element from areas
print(areas[1])

11.25

In [36]:
# Print out last element from areas
print(areas[-1])

9.5

In [38]:
# Print out the area of the living room
print(areas[5])

20.0

**4.2. Exercise - Slicing and dicing**

#**5. Subset and calculate**

After extract values from a list, is possible to make calculations

where the second and fourth element of a list x are extracted. The strings that result are pasted together using the + operator:

Example: 

*   x = ["a", "b", "c", "d"]


*   print(x[1] + x[3])

In [45]:
# Example of list

x = ["a", "b", "c", "d"]

# Printing Calculation

print(x[1] + x[3])

bd

**5. Exercise - Subset and Calculate**

Don't forget that the first element is Index ZERO ( 0 )

In [41]:
# Create the areas list
areas = ["hallway", 11.25, "kitchen", 18.0, "living room", 20.0, "bedroom", 10.75, "bathroom", 9.50]

In [46]:
# Sum of kitchen and bedroom area: eat_sleep_area

eat_sleep_area = areas[3] + areas[7]

In [47]:
# Print the variable eat_sleep_area
 
print(eat_sleep_area)

28.75